<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <title>Dump</title>
  </head>
  <body>
    <h1>Parameters</h1>

    <table>
      <% params.each do |k,v| %>
      <tr>
	<td>
	  <%= k %>
	</td>
	<td>
	  <%=  escape_html v %>
	</td>
      </tr>
      <% end %>
    </table>

    <h1>ENV</h1>

    <table>
      <% env.keys.sort{ |a,b|  a.downcase <=> b.downcase  }.each do |k|   %>
      <tr>
	<td>
	  <%= k %>
	</td>
	<td>
	  <%=  escape_html(env[k]) %>
	</td>
      </tr>
      <% end %>
    </table>

    <h1>@env</h1>

    <table>
      <% at_env.keys.sort{ |a,b|  a.downcase <=> b.downcase  }.each do |k|   %>
      <tr>
	<td>
	  <%= k %>
	</td>
	<td>
	  <%=  escape_html at_env[k] %>
	</td>
      </tr>
      <% end %>
    </table>

  </body>
</html>



