!!! 5
%html{ :lang => "en" }

  %head
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Storage Master Pools on #{@service_name}

  %body
    %h1
      %a{ :href => '/' }
        =@service_name
      &rArr; Pools

    %p
      DAITSS sends packages to a storage master service; the storage master then
      forwards the packages off to one or more silo pool services. This
      page lets you specify which silo pool servers should be used by this
      storage master service, and how the silo pool servers should be contacted.

    %p
      Click on the silo pool's name to change the settings this storage master
      will use when contacting the silo pool server.

    %p

      %table
        %thead
          %tr        
            %th Silo Pool Name
            %th Use this Silo Pool?
            %th Preference
            %th Access
        %tbody
          - @pools.each do |pool|
            %tr
              %td
                %a{ :href => "pool/#{pool['id']}" }
                  =pool.name
              %td
                - if pool.required
                  yes
                - else
                  no
              %td
                =pool.read_preference
              %td
                - if pool.basic_auth_username or pool.basic_auth_password
                  using credentials
                - else
                  expecting open access
                      

    %p

      The Storage Master service at #{@service_name} 
    
      - case @required      
      - when 0
        is configured as a stub server; no data is actually stored to pools.
      - when 1
        is configured to require at least one pool be active.
      - else
        is configured to require at least #{@required} pools be active.


      - if @pools.select{ |p| p.required }.length < @required

        %p{ :class => "warning" }
          Note: there are too few pools configured for this storage server.

    %p

      The required number of pools is specified in the Storage Master service
      configuration file

      %code #{ENV['DAITSS_CONFIG']}

      using the

      %code required_pools
      
      setting in the

      %code storage master

      or

      %code defaults

      section.  You must restart the storage service when the

      %code required_pools
      
      setting is changed.
  
    %p{ :class => "footer" }
      =@revision
      
