<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/std.css" rel="stylesheet" type="text/css" />

    <title>The Store Master Service on <%= @env['SERVER_NAME'] %></title>
  </head>

  <body>

    <h1>A Guide to the Store Master Service on <%= @env['SERVER_NAME'] %></h1>

    This document describes <%= revision %>


    <h2>Introduction</h2>

    <p>
      Packages need to be stored to multiple locations.  This service manages acts as a
      one-stop front end that stores and retrieves packages to and from those locations.
    </p>

    <h2>Saving Packages to Storage</h2>

    <p>
      Storage proceeds in a two step process:

    <ol>
      <li><code>POST ieid=&lt;NAME&gt;</code> to <code><%= base_url %>/reserve</code>, retrieving a URL <code>&lt;LOCATION&gt;</code></li>
      <li><code>PUT  &lt;DATA&gt;</code> to the URL <code>&lt;LOCATION&gt;</code></li>      
    </ol>
    </p>

    <p>
      The <code>POST</code> result will return a small XML document containing the <code>&lt;LOCATION&gt;</code>, described below, as
      well as including it in the result <code>LOCATION</code> header.
    </p>

    <p>
      The <code>PUT</code> must include the following headers:

      <ul>
	<li><code>Content-Type: application/x-tar</code></li>
	<li><code>Content-Length: &lt;INTEGER&gt;</code></li>
	<li><code>Content-MD5: &lt;HASH&gt;</code></li>
      </ul>
    </p>

    <p>
      We can use curl for these steps as follows, given an <code>IEID</code> of <code>E20100727_AAAAAA</code> and locale tarfile <code>package.tar</code>:

    <pre>
     curl -sv -d ieid=E20100727_AAAAAA  <%= base_url %>/reserve/
    </pre>

    which will return document a document similar to the following:

    <pre>
     &lt;?xml version="1.0" encoding="UTF-8"?&gt;
     &lt;reserved ieid="E20100727_AAAAAA" location="<%= base_url %>/packages/E20100727_AAAAAA.001"/&gt;
    </pre>

    </p>

    <p>
      The next step is to store the package to the service as so:
      <pre>
     curl -sv  -X PUT  -H 'Content-Type: application/x-tar' -H "Content-MD5: `md5-base64 package.tar`" --upload-file package.tar <%= base_url %>/packages/E20100727_AAAAAA.001
      </pre>

      The StoreMaster service only returns success when it has stored multiple copies of the package.
    </p>


    <h2>Additional Information</h2>

    <p>
      See the <a href="/internals/">internals</a> documentation.... TODO
    </p>

  </body>
</html>

